@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0px;
  margin:0px;
  box-sizing: border-box;
}


.hotbar__btn{
  height: 8vh;
  width: 8vh;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hotbar__img{
  height: 6vh;
  width: 6vh;
}